<form action="/session/forgotPassword/{{uid}}/{{token}}" method="post">
  <input
    required
    type="password"
    name="newPassword"
    placeholder="Nueva contraseña"
  /><br />
  <input
    required
    type="password"
    name="confirmation"
    placeholder="Confirmar contraseña"
  /><br />
  <button type="submit" class="btn btn-outline mt-4">Enviar</button>
</form>