<h1>Cart</h1>

<table>
  <tr>
    <td><strong> CART</strong></td>
    <td><strong> Products</strong></td>
  </tr>
  {{#each data}}
    <tr>
      <td>{{products}}</td>
    </tr>

  {{/each}}

</table>
<form action="/api/carts/{{cid}}/purchase" method="post">
  <button type="submit">Finalizar compra</button>
</form>