<section>
  <div>
    <h1>Ticket</h1>

    {{#each ticketFinish}}
      <h2>¡Compra realizada con éxito!</h2>
      <p>Código de la compra: {{this.code}}</p>
      <p>Valor total: {{this.amount}}</p>
      <p>Comprador: {{this.purchaser}}</p>
    {{/each}}

  </div>
</section>